body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
};

.HeroContainer{
  height:500px;
  width: 100%;
}
.HeroContainer .Heroheading{
  position: absolute;
  top: 0; 
}
.HeroContainer .Heroheading h2{
  text-align: center;
  color: white;
  padding-top: 50px;
  
}
.HeroContainer .Heroheading .para-1{
  text-align: center;
  margin-left: 30vh;
  margin-right: 20vh;
  color: white;
};